<% include ../partials/header %>
  <section class="screen" data-page="request-permission">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
        <h4>Request for Permission</h4>
        <p>Do you authorize this application to access your Starbucks account?</p>

        <p>The Amazon Echo skill will be able to:</p>
      </div>
    </div>

    <ul class="permissions">
      <li>Access my public information.</li>
      <li>Access and reload my Starbucks card.</li>
      <li>Access information on my payment methods.</li>
    </ul>

    <div class="container">
      <p>By authorizing this application you continue to operate under Starbucks Terms of Use and Privacy Policy.</p>

      <p>If you change your mind, you can always revoke authorization by selecting <strong>Disable</strong> from the same location you initiated this process.</p>
    </div>

    <div class="container btn-container">
      <a href="#" data-to-screen="payment-methods" class="btn gold">Confirm</a>
      <a class="btn cancel" href="<%- url('/')%>">Cancel</a>
    </div>
  </section>
  <section id="payment-methods" class="screen inactive" data-page="payment-method">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-starbucks.png" alt="Starbucks Logo"/>
        <h4>Verifying Payment Method</h4>
        <p>Connecting your Echo with your Starbucks account will also connect your primary Starbucks Card and associated methods of payment shown below.</p>
      </div>
    </div>

    <div class="starbucks-card">
      <div class="card">
        <p class="gold">Starbucks Card</p>
        <img src="<%= card.imgUrl %>" />
        <p class="gold"><%= card.name %></p>
      </div>
      <div class="card-text">
        <p>This is the primary Starbucks Card associated with your account.</p>
      </div>
    </div>

    <div class="container">
      <p>Select Your Payment Method</p>
      <p>Your chosen method of payment will be used when reloading your Starbucks Card width the Amazon Echo skill.</p>
    </div>

    <form method="POST" action="/payment-method">
      <ul class="payment-methods">
        <% paymentMethods.forEach(function(method){ %>
          <li class="<%= method.type %> <%= method.isValid ? '' : 'invalid' %> <%= method.isDefault ? 'active' : '' %>"
              data-method-id="<%= method.id %>">
            <i class="payment-icon"></i>
            <p class="payment-number">Ending in (<%= method.endingIn %>)</p>
            <p class="payment-exp">EXP <%= method.expirationMonth %>/<%= method.expirationYear %></p>
          </li>
        <% }) %>
      </ul>

      <input type="hidden" name="state" value="<%= state %>" />
      <input type="hidden" name="client_id" value="<%= client_id  %>" />
      <input type="hidden" name="response_type" value="<%= response_type %>" />
      <input type="hidden" name="auth_code" value="<%= auth_code %>" />
      <input id="paymentMethodSelect" type="hidden" name="paymentMethodId" value="<%= primaryPaymentMethodId %>" />

      <div class="container btn-container">
        <button type="submit" class="btn gold">Continue</button>
        <a class="btn cancel" href="<%= url('/')%>">Cancel</a>
      </div>
    </form>
    <div class="container note">
      <p class="center note">If you would like to adjust your Starbucks Card or the associated methods of payment, you will need to visit the Starbucks&reg; mobile app and manage your settings.</p>
      <div class="app-store-links">
        <a class="app-store" href="https://itunes.apple.com/us/app/starbucks/id331177714?mt=8"><img src="../img/logo-app-store.png" /></a>
        <a class="play-store" href="https://play.google.com/store/apps/details?id=com.starbucks.mobilecard&hl=en"><img src="../img/logo-play-store.png" /></a>
      </div>
    </div>
    <div class="screen-footer">
      <div class="container">
        <p>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.,</p>
        <p>Google Play is a trademark of Google Inc.</p>
      </div>
    </div>
  </section>
<% include ../partials/footer %>
