<% include ../partials/header %>
  <%if (!isAndroid) { %>
  <div class="arrow-container container">
    <div class="arrow"></div>
  </div>
  <% } %>
  <section class="screen">
    <div class="container">
      <div class="screen-head">
        <h4>Almost Done!</h4>
        <p>You have successfully <%= created ? "created an account. " : (isAndroid ? "logged in. " : "linked your account. ") %> 
          <strong>
            <%= (nextSteps.length  ? "You must add " + nextSteps : "You have all you need") %>
          </strong> in order to send flowers using the 1-800-Flowers Alexa Skill.
        </p>
        <% if (isAndroid) { %>
        <p>To finish linking your account please press <strong>Link</strong> button below.</p>
        <div class="form-row">
          <a href="<%- redirectUrl %>" class="btn green">Link</a>
        </div>
        <% } %>
      </div>
      <div class="copy-link">
        <p class="note">Copy and paste the link below to your browser</p>
        <p class="link"><%= site %></p>
      </div>
      <div class="screen-head screen-footer">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
      </div>
    </div>

    <% if (!isAndroid) { %>
    <iframe src="<%- redirectUrl %>"></iframe>
    <% } %>

  </section>
  <div class="legal-container">
    <p><a href="<%= url('/terms-of-use')%>">Terms of Use</a><a href="<%= url('/privacy-policy')%>">Privacy Policy</a></p>
  </div>

<% include ../partials/footer %>

<script>
  ga('send','event','Linking','Login Successful')
</script>
